
<table>
  <tr>
    <td>Blog:</td>
    <td><a href="{{blog.link}}">{{ blog.title }}</a></td>
  </tr>
  <tr>
    <td>created:</td>
    <td>{{ blog.published }}</td>
  <tr>
    <td>last updated:</td>
    <td>  {{ blog.updated }}</td>
  </tr>
  <tr>
  <td>Name:</td>
  <td><input type="text" ng-model="blog.name"/></td>
</tr>
<tr>
  <td>Tombstone:</td>
  <td><input type="text" ng-model="blog.tombstone_days_older"/>
    (delete content for posts older than this many days old)</td>
</tr>
<tr>
  <td>Keep This many Posts:</td>
  <td><input type="text" ng-model="blog.keep_first"/></td>
</tr>
</table>
<input ng-click="update()" type="submit" value="Update">
